<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="index.html">
                <img src="../assets/images/nav_logo.png" alt="Logo">
            </a>
        </div>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#testimonials">Reviews</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#white_level">White level</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="#" class="login-btn header-btn">Login</a>
            <a href="#" class="cta-btn header-btn">Book a demo</a>
        </div>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
