<section class="portfolios container">
  <h1 class="portfolios-heading">
    Turn your raw video into <span>engaging clip</span>
  </h1>
  <div class="portfolio-container">
    <!-- with video -->
    <div class="with-video">
      <div class="with-video-container">
        <div class="video-heading">
          <img src="../assets/images/checkbox-circle-svgrepo-com.svg" alt="" />
          <h1>We take raw video and/or premium stock footage</h1>
        </div>
        <div>
          <img src="../assets//images/portfolio.png" alt="" />
        </div>
        <div>
          <h1 class="portfolio-video-description">
            Share your long-form videos or raw clips with us. Our team will help
            you choose the best hooks & content from your video. Our team will
            help you choose the best hooks & content from your video.
          </h1>
        </div>
      </div>
      <div class="with-video-container">
        <div class="video-heading">
          <img src="../assets/images/checkbox-circle-svgrepo-com.svg" alt="" />
          <h1>We structure it for views and watch-time</h1>
        </div>
        <div>
          <img src="../assets//images/portfolio.png" alt="" />
        </div>
        <div>
          <h1 class="portfolio-video-description">
            Share your long-form videos or raw clips with us. Our team will help
            you choose the best hooks & content from your video. Our team will
            help you choose the best hooks & content from your video.
          </h1>
        </div>
      </div>
      <div class="with-video-container">
        <div class="video-heading">
          <img src="../assets/images/checkbox-circle-svgrepo-com.svg" alt="" />
          <h1>We create your unique style and theme</h1>
        </div>
        <div>
          <img src="../assets//images/portfolio.png" alt="" />
        </div>
        <div>
          <h1 class="portfolio-video-description">
            Share your long-form videos or raw clips with us. Our team will help
            you choose the best hooks & content from your video. Our team will
            help you choose the best hooks & content from your video.
          </h1>
        </div>
      </div>
    </div>
    <!-- without video -->
    <div>
      <div class="without-video">
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
      </div>
      <div class="without-video">
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
        <div class="without-video-container">
          <div class="video-heading">
            <h1>Instagram Reels</h1>
          </div>

          <div>
            <h1 class="portfolio-video-description">
              Share your long-form videos or raw clips with us. Our team will
              help you choose the best hooks & content from your video.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
