<section class="why container">
  <div class="why-content">
    <div>
      <img src="../assets/images/why.png" alt="" srcset="" />
    </div>
    <article class="why-description">
      <h1 >Why is short-form video so popular?</h1>
      <p>
        Video content in the short form is not new. In actuality, the
        2012-released short-form video app Vine was a pioneer of the genre.
        <br />
        <br />
        But as tech giants like Instagram, TikTok, and YouTube launched
        short-form video features of their own, what had initially been a niche
        platform grew into something much larger.
      </p>
      <a class="btn btn-primary">Book a Demo</a>
    </article>
  </div>
</section>
